
<div style="font-size:30px;color:red">
    <h2 style="color:black; text-align:center; font-size:60px;">Over Eagle Fit</h2>
    <br />
    <p>
        Eagle Fit is een keten van fitnessclubs ontstaan door een groep mensen die sport naar voren willen brengen en dit willen aanbieden vooral om mensen in beweging te krijgen. Daardoor zijn wij continu bezig onze clubs zo goedkoop mogelijk aan te bieden en zorgen wij       ervoor dat onze trainers elk individueel lid zo goed mogelijk begeleiden.
    </p>
</div>
